<div class="cv-container">
  <aside class="profile-sidebar">
    <img src="assets/ines.PNG" alt="Inès Gharbi" class="profile-pic" />
    <h2>Inès Gharbi</h2>
    <p class="job-title">Agent Baby-sitting</p>
    <p><i class="icon">📍</i> Ariana, Tunisie</p>
    <p><i class="icon">📧</i> ines.gharbi@email.com</p>
    <a routerLink="/mi" class="btn-contact" >Contacter</a>

  </aside>

  <main class="cv-content">
    <section>
      <h3>À propos</h3>
      <p>Sérieuse, ponctuelle et douce, je m’occupe des enfants avec patience et créativité. Expérience de 3 ans avec différentes familles.</p>
    </section>

    <section>
      <h3>Compétences</h3>
      <ul class="skills">
        <li>💬 Communication</li>
        <li>🎨 Activités manuelles</li>
        <li>🍼 Soins nourrisson</li>
        <li>🚗 Permis B</li>
      </ul>
    </section>

    <section>
      <h3>Expérience</h3>
      <div class="timeline">
        <div>
          <h4>Famille Haddad</h4>
          <span>2023 - 2024</span>
          <p>Garde de deux enfants de 3 et 6 ans, aide aux devoirs, repas et activités.</p>
        </div>
        <div>
          <h4>Famille Slimani</h4>
          <span>2021 - 2023</span>
          <p>Baby-sitting occasionnel (soirées, week-ends).</p>
        </div>
      </div>
    </section>

    <section>
      <h3>Formation</h3>
      <p>Certificat de garde d’enfants - Centre CEFOP Ariana (2021)</p>
    </section>
  </main>
</div>

