<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Agents Baby-sitting</title>
 
</head>
<body>

  <div class="grid-container">
    <!-- Inès -->
    <div class="card">
      <img src="assets/ines.PNG" alt="Inès Gharbi">
      <h3>Inès Gharbi</h3>
      <p class="experience">5 ans d’expérience</p>
      <ul class="details">
        <li>Spécialiste des nouveau-nés</li>
        
    
      </ul>
     <a routerLink="/ci" class="btn">Voir cv</a>
      
    </div>

    <!-- Youssef -->
    <div class="card">
      <img src="assets/coach.PNG" alt="Youssef Trabelsi">
      <h3>Youssef Trabelsi</h3>
      <p class="experience">3 ans d’expérience</p>
      <ul class="details">
        <li>Animation sportive et jeux</li>
     
     
      </ul>
      <a routerLink="/cy" class="btn">Voir cv</a>
      
    </div>

    <!-- Fatima -->
    <div class="card">
      <img src="assets/exprementer.PNG" alt="Fatima Mansour">
      <h3>Fatima Mansour</h3>
      <p class="experience">6 ans d’expérience</p>
      <ul class="details">
        <li>Premiers secours & devoirs</li>
     
        
      </ul>
      <a href="fatima.html" class="btn">Voir CV</a>
      
    </div>

    <!-- Amine -->
    <div class="card">
      <img src="assets/gg.PNG" alt="Amine Ben Ali">
      <h3>Amine Ben Ali</h3>
      <p class="experience">4 ans d’expérience</p>
      <ul class="details">
        <li>Enfants en situation de handicap</li>
       
        
      </ul>
      <a href="amine.html" class="btn">Voir CV</a>
      
    </div>

    <!-- Salma -->
    <div class="card">
      <img src="assets/mm.PNG" alt="Salma Ben Romdhane">
      <h3>Salma Ben Romdhane</h3>
      <p class="experience">7 ans d’expérience</p>
      <ul class="details">
        <li>Création activités éducatives</li>
        
        
      </ul>
      <a href="salma.html" class="btn">Voir CV</a>
     
    </div>

    <!-- Hassan -->
    <div class="card">
      <img src="assets/rr.PNG" alt="Hassan Saidi">
      <h3>Hassan Saidi</h3>
      <p class="experience">5 ans d’expérience</p>
      <ul class="details">
        <li>Encadrement de groupes & sécurité</li>
      
        
      </ul>
      <a href="hassan.html" class="btn">Voir CV</a>
    
    </div>
  </div>
</body>
</html>
